.page-container {
  display: flex;
  width: 100%;
  height: 100vh;
}

.left-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0; /* Set your preferred background color */
}
.slot-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px; /* Add margin for spacing */
}

.custom-button {
  height: 50px;
  width: 150px;
  background-color: #000;
  color: #ffffff;
  border-radius: 5px;
}

.custom-button:hover {
  background-color: white;
  color: #000;
  border: 2px solid #000;
}



.right-section {
  flex: 1;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  background-color: #ffffff; 
  overflow-y: auto; 
  max-height: 100vh;
}

/* Change scrollbar color */
.right-section::-webkit-scrollbar {
  width: 8px; /* Set scrollbar width */
}

.right-section::-webkit-scrollbar-thumb {
  background-color: grey; /* Set scrollbar thumb color */
  border-radius: 10px; /* Round corners of the thumb */
}


.empty_section{
  padding-bottom: 5%;
}
.content-section {
  text-align: center;
  margin-top: 20px; 
}

.station-heading {
  font-size: 30px; 
  font-weight: bold; 
  margin-top: 10px;
}

.station-image-img {
  width: 90vb;
  padding-top: 150px;
}

.user-ratings-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px; 
}

.user-ratings p {
  margin-right: 10px; 
}

.user-ratings {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}

.user-ratings-heading {
  padding-top: 10px;
  color: grey;
}

.star {
  color: gold; 
  font-size: 2.5em; 
  cursor: pointer;
}

.grey-star {
  color: grey;
  font-size: 2.5em; 
  cursor: pointer;
}

.description {
  font-size: 16px; 
  color: black; 
  margin-top: 10px; 
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.5;
  padding-left: 10%;
  padding-right: 10%;
}

.icons-section {
  display: flex;
  align-items: center;
  justify-content: space-around; /* Evenly spread icons */
  max-width: 80%; 
  margin-top: 35px; /* Adjust spacing */
  cursor: pointer;
  padding-left: 20%;
  width: 100%;
}

.icon-container {
  text-align: center;
}

.icons-section svg {
  font-size: 4em; 
  color: black; 
  margin: 0 10px; 
}

.icons-section p {
  font-size: 12px; 
  color: grey;
}
.review-section {
  margin-top: 20px;
  /* width: 80%; */
  
  /* padding-right: 45%; Adjust padding for centering */
}

.review-heading {
  font-size: 18px; 
  margin-left: 5%;
  font-weight: bold; 
  color: #333; 
}
.review-users{
  margin-top: 20px;
  /* padding-top: 10%;
  max-width: 80%; */

}


.comment-section {
  margin-top: 25px;
  margin-left: 8%;
  margin-right: 8%;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}

.comment-user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.comment-box {
  flex: 1;
  height: 60px;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none
}
.send-icon-button {
  font-size: 2.5em !important;
  size: 20px;
  cursor: pointer;
  
}

@media screen and (max-width: 768px) {
  .page-container {
    flex-direction: column;
  }

  .left-section,
  .right-section {
    flex: 1;
  }

  .right-section {
    max-height: none;
    overflow-y: visible;
  }

  .custom-button {
    margin-top: 20px;
    margin-bottom: 30px;
  }

 
  .station-heading {
    font-size: 24px;
    margin-top: 5px;
  }

  .user-ratings {
    font-size: 14px;
  }

  .description {
    font-size: 14px;
  }
  .station-image-img {
    
    padding-top: 10px;
  }
  
  .icon-container {
    margin-bottom: 10px;
  }

  .icons-section svg {
    font-size: 3em;
    margin: 0;
  }

  .icons-section p {
    font-size: 10px;
  }

  .review-heading {
    font-size: 16px;
  }


  .comment-box {
    width: 100%;
  }

  .send-icon-button {
    font-size: 2em !important;
    
  }
}